.ng-invalid.ng-dirty {
  border-left: 5px solid red;
  padding-left: 6px; /* pour confort visuel */
}

input, select {
  padding: 6px;
  margin-bottom: 4px;
  width: 100%;
  box-sizing: border-box;
}
small { color: #b00020; }