.task {
  padding: 15px;
  background: #fafafa;
  margin-bottom: 10px;
  border-radius: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.empty {
  color: #888;
  text-align: center;
  font-style: italic;
}
