img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}



.produit {
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.stock-ok {
  background-color: #e6ffe6;
  color: #2e7d32;
}

.stock-ko {
  background-color: #ffe6e6;
  color: #c62828;
}